<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnPhoenix · Phoenix Framework</title>
    <link rel="stylesheet" href="eex1eex" />
    <script defer type="text/javascript" src="eex2eex"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li>
              <a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a>
            </li>
            <eext3>
              <li><eext4 /></li>
            </eext3>
          </ul>
        </nav>
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src="eex5eex" alt="Phoenix Framework Logo" />
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><eext6 /></p>
      <p class="alert alert-danger" role="alert"><eext7 /></p>
      <eext8 />
    </main>
  </body>
</html>
